<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
xmlns:content="http://purl.org/rss/1.0/modules/content/"
xmlns:wfw="http://wellformedweb.org/CommentAPI/"
xmlns:dc="http://purl.org/dc/elements/1.1/"
xmlns:atom="http://www.w3.org/2005/Atom"
xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
xmlns:media="http://search.yahoo.com/mrss/">

  <channel>
    <title>Refactor.tv</title>
    <atom:link href="http://refactor.tv/feed/<%= @feed_type %>" rel="self" type="application/rss+xml" />
    <link>http://refactor.tv</link>
    <description>Refactor.tv is a weekly podcast discussing web and mobile App Development, open-source software, and beer. Brought to you from San Francisco by two independent software developers, Sam Soffes and Steve Derico.</description>
    <language>en</language>
    <copyright>Copyright © Sam Soffes and Steve Derico 2012</copyright>
    <managingEditor>sam@refactor.tv (Sam Soffes)</managingEditor>
    <webMaster>sam@refactor.tv (Sam Soffes)</webMaster>
    <category>technology</category>
    <ttl>1440</ttl>
    <image>
      <url><%= image_url('art_144.png') %></url>
      <title>Refactor.tv</title>
      <link>http://refactor.tv</link>
      <width>144</width>
      <height>144</height>
    </image>
    <itunes:subtitle>A weekly podcast discussing web and mobile app development, open-source software, and beer.</itunes:subtitle>
    <itunes:summary>Refactor.tv is a weekly podcast discussing web and mobile App Development, open-source software, and beer. Brought to you from San Francisco by two independent software developers, Sam Soffes and Steve Derico.</itunes:summary>
    <itunes:keywords>iOS, apple, mac, geek, development, iPhone, cocoa, iPad, github, open source, beer, news, diggnation, ruby, rails, objective-c</itunes:keywords>
    <itunes:category text="Technology" />
    <itunes:category text="Technology">
      <itunes:category text="Tech News" />
    </itunes:category>
    <itunes:category text="Business" />
    <itunes:author>Refactor.tv</itunes:author>
    <itunes:owner>
      <itunes:name>Sam Soffes</itunes:name>
      <itunes:email>sam@refactor.tv</itunes:email>
    </itunes:owner>
    <itunes:block>no</itunes:block>
    <itunes:explicit>no</itunes:explicit>
    <itunes:image href="<%= image_url('art_512.png') %>" />
    
    <%= render @episode_files %>
  </channel>
</rss>
