// Sizing
$width: 640px;

// Colors
$blue-color: #199ada;
$highligh-color: #fffeca;
$gray-color: #676767;
$background-color: #f7f7f7;
$text-color: #222;
$teal-color: #39d1d7;
$link-color: #008fd5;

// Media Queries
$iphone-query: "all and (max-width: 480px)"; // Only width, not device width
$small-query: "all and (max-width: 660px)";
$retina-query: "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5)";
