div.ad {
  @include clearfix;
  padding: 20px;
  background: #f7f7f7;
  margin-bottom: 3em;

  > a {
    float: left;
    display: block;
    border: 0;
    width: 300px;
    height: 150px;

    &:hover {
      border: 0;
    }
  }

  p {
    float: right;
    width: 280px;
    font-size: 0.9em;
  }
}
