<h2>All Episodes</h2>

<% if @episodes.empty? %>
<p>Nothing to see here. Move a long.</p>
<% else %>
<ul>
  <% @episodes.each do |episode| %>
  <li><%= link_to "##{episode.position} #{episode.title}", [:admin, episode] %></li>
  <% end %>
</ul>
<% end %>
